
{% load static%}



{% block content %}
{% for i in list %}
<img class="im" src="{% static 'images/ims.jpg'%}" >
<div class="j">

    <p>{{i.name}}</p>
    <p>{{i.contact}}</p>
    <p>{{i.email}}</p>
</div>
<div class="list1">

    <a href="{%url 'create' %}"><button class="edit" > edit</button></a>
    <a href="{%url 'delete' i.id%}"><button class="but" > delete</button></a>
</div>

{%endfor%}
<style>
    .im{
        position: relative;
        top: 80px;
        left: 150px;
        height: 150px;
    }
    .but{
        border-radius: 5px;
        width: 50px;
        height: 30px;  
      background-color: red;
      
    }
    .j{
        position: relative;
        bottom: 80px;
        margin-left: 480px;
        width: 400px;
        border: 1px solid gray;
        border-radius: 10px;
    }
    .edit{
        border-radius: 5px;
        width: 50px;
        height: 30px;  
      background-color: greenyellow;
        
    }

    p{
        font-size: 30px;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }
    .list1{
        
       
        gap: 80px;
        display: flex;
        justify-content: center;
    }
</style>
{%endblock%}